.box-restaurant{
    display: flex;
    flex-direction: column;
    background: var(--background);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.container-restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 15px ;
}
.container-restaurant p{

}
.container-restaurant img{
    object-fit: cover;
    margin: 0 ;
    width: 334px;
    border-radius: 15px 15px 0 0;
}
.logo-restaurant img{
    display: flex;
    justify-content: end;
    align-items: center;
    object-fit: cover;
    width: 35px; 
    margin: -34px 8px 12px 271px;
    
}