/* Box Logo */
.header{
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    gap: 0px;

}
.logo{
    display: flex;
    margin: 0px 20px 0px 0px;

}
/* Fleche retour */
.return{
    display: flex;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;

}
.return img{
    object-fit: cover;
    width: 20px;
    
}