@media screen and (max-width: 1400px) {
    .activity{
        display: grid;
        justify-content: center;
        grid-template-rows: 30px 500px;
        margin: 60px 0px 60px 0px;
    }
    .text-activity {
        display: flex;
        justify-content: flex-start;
        grid-column: 2/2;
        margin: 0px 0px 0px 0px;
    }
    .box-activity{
        display: flex;
        flex-direction: row;
        gap: 43px;
        grid-column: 2/3;
        margin: 18px 0px 0px 0px;
    }

    .container-activity{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 20px;
        word-wrap: break-word;
        width: 302px;
        height: auto;
    }
    .container-activity p{
        display: flex;
        margin: 10px 25px; 
    }
    .image-activity img{
        display: flex;
        object-fit: cover;
        width: 100%;
        height: 430px;
        border-radius: 20px 20px 0 0;
    }
}
@media  screen and (min-width: 768px) and (max-width: 991px) {
    .activity{
        grid-template-rows: none;
        margin: 30px 0px 30px 0px;
    }
    .container-activity{
        width: 180px;
        word-wrap: break-word;
        height: 270px;
    }
        .image-activity img{
            height: 221px;
    }
    .container-activity p{
        display: flex;
        margin: 5px 0px 0px 17px; 
    }
    .box-activity{
        gap: 50px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px)  {
    .activity{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 0px 0px 0px;
    }
    .container-activity{
        width: 330px;
    }
    .box-activity{
        justify-content: center;
        margin: 14px 0px 80px 10px;
    }
    .image-activity img{
        width: 100%;
        height: 190px;
    }
    .text-activity{
        margin: 0px 35px 15px 0px;
    }
}

