.container-filter{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 45px 55px;
    align-items: center;
}
.menu-filter{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.menu-filter button{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 18px 30px 13px 30px;
    gap: 10px;
    border: 2px solid var(--border-image);
    border-radius: 25px;
    background: white;
}
.menu-filter button:hover{
    background: var(--main-color);
    transition: 0.3s ease;
}

/* Logo et texte Information */

.container-information{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 18px 18px 55px;
    gap: 15px;
    font-family: "Raleway";
}
.logo-information{
    border: solid var(--border-image);
    border-radius:  50% 50% 51% 49% / 51% 50% 50% 49% ;
}
.logo-information img{
    width: 25px;
    height: 25px;
}
/* Screen >=992px */
@media screen and (min-width: 992px) and (max-width: 1400px) {
    .container-filter{
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin: 45px 55px;
        align-items: center;
    }
    .menu-filter{
        display: flex;
        flex-direction: row;
        gap: 32px;
    }
    .menu-filter button{
        display: flex;
        align-items: center;
        width: auto;
        height: auto;
        padding: 9px 16px 9px 16px;
        gap: 10px;
        border: 2px solid var(--border-image);
        border-radius: 25px;
        background: white;
    }
    .container-filter h2{
        font-size: 18px;
    }
    .menu-filter button:hover{
        background: var(--main-color);
        transition: 0.3s ease;
    }
    .menu-filter img{
        width: 19px ;
        height: 19px ;
    }

    /* Logo et texte Information */

    .container-information{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 18px 18px 55px;
        gap: 15px;
        font-family: "Raleway";
    }
    .logo-information{
        border: solid var(--border-image);
        border-radius:  50% 50% 51% 49% / 51% 50% 50% 49% ;
    }
    .logo-information img{
        width: 25px;
        height: 25px;
    }
}
@media  screen and (min-width: 767px) and (max-width: 991px) {
    .container-filter{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin: 30px 0px 30px 50px;
        padding:  0px 0px 0px 0px;
        align-items: center;
    }
    .container-filter h2{
        font-size: 16px;
    }
    .menu-filter{
        gap: 16px;
    }
    .menu-filter button{
        display: flex;
        align-items: center;
        width: auto;
        height: auto;
        padding: 10px 15px 10px 15px;
        gap: 8px;
        border: 2px solid var(--border-image);
        border-radius: 25px;
        background: white;
    }
    .menu-filter h2{
        font-size: 14px;

    }
    .menu-filter img{
        width: 18px;
        height: 18px;
    }
    .container-information{
        margin: 0px 20px 42px 50px;
    }
    .logo-information img{
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 766px) {

    .container-filter{
        flex-direction: column;
        align-items: flex-start;
        margin: 28px 0px 15px 25px;
        gap: 16px;
    }
    .menu-filter{
        display: grid;
        grid-template-columns: 157px 179px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 7px;
    }
    .menu-filter button{
        display: flex;
        align-items: center;
        width: auto;
        height: auto;
        padding: 15px 0px 15px 10px;
        margin: 0px 0px 15px 0px;
        gap: 6px;
        border: 2px solid var(--border-image);
        border-radius: 25px;
        background: white;
        font-size: 10px;
    }
    .menu-filter img{
        width: 18px;
        height: 18px;
    }
    .container-information{
        display: grid;
        grid-template-columns: 22px 305px;
        margin: 0px 0px 38px 20px;      
    }
    .logo-information img{
        width: 15px;
        height: 15px;
    }

}