footer{
    background: var(--border-image);
}
.box-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 50px 0px 50px;
    background: var(--border-image);
}

.contain-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 10px 10px;
}
@media  screen and (max-width: 1400px) {
    footer{
        background: var(--border-image);
    }
    .box-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 50px 50px 0px 50px;
        background: var(--border-image);
    }

    .contain-footer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 10px 10px 10px;
    }
}
@media screen and (min-width: 991px) {
    .box-footer{
        margin: 0px 50px 0px 50px;

    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    footer{
        box-sizing: content-box;
        margin: 0px 0px 0px 0px;
    }
    .box-footer{
        display: grid;
        align-content: center;
        margin: 0px 0px 0px 0px;
    }
    .contain-footer{
        background: var(--border-image);
        margin: 0px 0px 0px 0px;
    }
}