@media screen and (max-width: 1400px) {
    .container-box{
        display: flex;
        flex-direction: row;
        gap: 18px;
        margin: 0px 0px 0px 55px;
        box-sizing: border-box;
    }
    .box-accommodation{
        display: flex;
        flex-direction: column;
        background: var(--bg-color--); 
        padding: 42px 0px 15px 0px;
        border-radius: 15px;
        width: 880px;
    }
    .box-accommodation h2{
        padding: 0 0 40px 40px;
    }
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .accomodation-1{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .accomodation-container{
        display: flex;
        flex-direction: row;
        background: var(--bg-color--);
        border-radius: 15px;
        width: 246px;
        height: 199px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .accomodation-1 img{
        display: flex;
        object-fit: cover;
        box-sizing: content-box;
        width: 235px;
        height: 124px;
        padding: 5px;
        border-radius: 15px 15px 0 0;
    }
    .accomodation-container p, 
    .accomodation strong, 
    .accomodation-container li 
    {
        margin-left: 10px;
    }
    .star{
        overflow: hidden;
        text-indent: 999px;
        height: 12px;
        margin: 1px;
        width: 12px;
        float: left;
        background-image: url(/Booki/icon/star-blue.svg) ;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .star-transparent{
        overflow: hidden;
        text-indent: 999px;
        height: 12px;
        margin: 1px;
        width: 12px;
        float: left;
        background-image: url(/Booki/icon/star.svg) ;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 20%;
    }
    h3{
        display: flex;
        padding: 40px 55px;
    }
    /* Box Famous */
    .box-famous{
        background: var(--bg-color--);
        border-radius: 15px;
        padding: 0px 25px 37px 19px;
    }
    .famous-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 14px 19px 17px;
        padding: 51px 0px 0px 0px;
    }
    .famous-title img{
        object-fit: cover;
        width: 23px;
        height: 20px;
    }
    .famous{
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 32px;    
    }
    .container-famous{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background: white;
        border-radius: 15px;
        width: max-content;
        width: 350px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    }
    .famous-img{
        display: flex;
        position: relative;
    }
    .famous-img img{
        object-fit: cover;
        width: 137px;
        height: 135px;
        border-radius: 20px 0 0  20px;
        padding: 5px
    }
    .famous-text{
        display: grid;
        margin: 5px;   
    }
    .container-star{
        display: block;
    }
}
@media screen and (max-width: 992px) {
    .famous{
        display: flex;
        flex-direction: row;
        padding: 10px;
        gap: 20px;   
    }  
    .box-famous {
        background: var(--bg-color--);
        border-radius: 15px;
        padding: 0px 25px 40px 19px;
        box-sizing: content-box;
    }
    .famous-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 14px 19px 17px;
        padding: 51px 0px 0px 0px;
    }
    .container-famous{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background: white;
        border-radius: 15px;
        width: max-content;
        width: 258px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .famous-text{
        font-size: 15px;  

    }
    .famous-img img{
        object-fit: cover;
        width: 95px;
        height: 109px;
        border-radius: 20px 0 0  20px;
        padding: 5px
    }
}
@media screen and (max-width: 768px) {
    .box-famous{
        border-radius: 0px;
        grid-template-columns: 310px;
        width: 420px;
        padding: 0;
        background: var(--bg-color--);
        box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;
    }
    .box-accommodation{
        border-radius: 0px;
        width: 416px;
        padding: 0;
        margin: 0;
        background: none;
    }
    .box{
        display: flex;
    }
    .famous{
        align-items: center;
        padding: 0 0 55px;
        gap: 11px;
    }
    .famous-title{
        padding: 25px 39px;
    }
    .container-famous{
        background: white;
        display: flex;
        width: 350px;
    }
    .container-box{
        display: flex;
        flex-direction: column-reverse ;
        justify-content: center;
        margin: 20px 0;
        gap: 0;
    }
    .accomodation-1{
        justify-content: center;
    }
    .accomodation-container{
        display: flex;
        width: 335px;
        
    }
    .accomodation-container img{
        width: 335px;
        
    }
}