.container-box{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
}
.box-accommodation{
    display: flex;
    flex-direction: column;
    background: var(--bg-color--);
    margin: 0px 95px 0px 0px; 
    padding: 42px 0px 15px 0px;
    border-radius: 15px;
    width: 100%;
}
.title-accomodation{
    padding: 0 0 40px 40px;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.accomodation-container{
    display: flex;
    flex-direction: row;
    background: var(--bg-color--);
    border-radius: 15px;
    width: 290px;
    height: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.accomodation-1{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}
.accomodation-1 img{
    display: flex;
    object-fit: cover;
    box-sizing: content-box;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.star{
    overflow: hidden;
    text-indent: 999px;
    height: 12px;
    margin: 1px;
    width: 12px;
    float: left;
    background-image: url(/Booki/icon/star-blue.svg) ;
    background-size: contain;
    background-repeat: no-repeat;
}
.star-transparent{
    overflow: hidden;
    text-indent: 999px;
    height: 12px;
    margin: 1px;
    width: 12px;
    float: left;
    background-image: url(/Booki/icon/star.svg) ;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 20%;
}
h3{
    display: flex;
    padding: 40px 55px;
}
/* Box Famous */
.box-famous{
    background: var(--bg-color--);
    border-radius: 15px;
    width: 100%;
}
.famous-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 17px 32px 17px;
    padding: 40px 0px 0px 0px;
}
.famous-title img{
    object-fit: cover;
    width: 23px;
    height: 20px;
}
.famous{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 33px;    
}
.container-famous{
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 15px;
    box-sizing: border-box;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}
.famous-img{
    display: flex;
    position: relative;
}
.famous-img img{
    object-fit: cover;
    width: 144px;
    height: 148px;
    border-radius: 20px 0 0  20px;
}
.famous-text{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    margin: 30px 0px 0px 0px;  
    overflow: hidden;
}
h4{
}
.container-star{
    display: flex;
    padding: 0px 0px 0px 0px;
    margin: 30px 0px 0px 0px;

}

 @media screen and (max-width: 1536px) {
    .container-box{
        display: flex;
        flex-direction: row;
        margin: 0px 0px 0px 55px;
        box-sizing: border-box;
    }
    .box-accommodation{
        display: flex;
        flex-direction: column;
        background: var(--bg-color--); 
        padding: 42px 0px 15px 0px;
        border-radius: 15px;
        width: 880px;
    }
    .title-accomodation{
        padding: 0 0 40px 40px;
    }
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .accomodation-1{
        display: flex;
        flex-direction: row;
    }
    .accomodation-container{
        display: flex;
        flex-direction: row;
        background: var(--bg-color--);
        border-radius: 15px;
        width: 100%;
        height: 100%;
        padding: 3px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .accomodation-container img{
        display: flex;
        object-fit: cover;
        box-sizing: content-box;
        width: 100%;
        border-radius: 15px 15px 0 0;
    }
    .star{
        overflow: hidden;
        text-indent: 999px;
        height: 12px;
        margin: 1px;
        width: 12px;
        float: left;
        background-image: url(/Booki/icon/star-blue.svg) ;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .star-transparent{
        overflow: hidden;
        text-indent: 999px;
        height: 12px;
        margin: 1px;
        width: 12px;
        float: left;
        background-image: url(/Booki/icon/star.svg) ;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 20%;
    }
    h3{
        display: flex;
        padding: 30px 12px;
    }
    /* Box Famous 1400px */
     .box-famous{
        background: var(--bg-color--);
        border-radius: 15px;        
    }
    .famous-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 14px 19px 17px;
        padding: 51px 0px 0px 0px;
    }
    .famous-title img{
        object-fit: cover;
        width: 23px;
        height: 20px;
    }
    .famous{
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 32px;    
    }
    .container-famous{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background: white;
        border-radius: 15px;
        width: 350px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    }
    .famous-img{
        display: flex;
        position: relative;
    }
    .famous-img img{
        object-fit: cover;
        width: 150px;
        height: 152px;
        border-radius: 20px 0 0  20px;
    }
    .famous-text{
        display: grid;
        margin: 5px;   
    }
    .container-star{
        display: flex;
    }
}

/* Screen >= 992px */
@media screen and (min-width: 991px) {
    .container-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 34px 0px 50px;
        padding: 0px 0px 0px 0px;
        gap: 0px;
    }
    .title-accomodation{
        margin: 30px 0px 20px 12px;
        padding: 0px 0px 0px 0px;
    }
    .box-accommodation{
        display: flex;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        width: 100%;
        padding: 0px 25px 0px 25px;
        font-size: 10px;
    }
    .box{
        display: flex;
        flex-direction: column;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .accomodation-1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 11px;
    }
    .accomodation-container{
        width: 150px; 
        height: 145px;
    }
    .accomodation-container img{
        width: 100%;
        height: 80px;
    }
    .accomodation-text{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 9px 0px 5px 9px;
        padding: 0px 0px 0px 0px;
    }
    .accomodation-text ol {
        width: 100%;
    }
    .box-famous {
        display: flex;
        flex-direction: column;
        background: var(--bg-color--);
        border-radius: 15px;
        box-sizing: content-box;
        padding: 0px 0px 60px 0px;
        margin: 0px 0px 0px 0px;
        gap: 16px;
    }
    .famous{
        display: flex;
        flex-direction: column;
        gap: 28px;  
        margin: 0px 0px 0px 0px;
        padding: 0px 30px 0px 30px;
    }  
    .famous-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 32px 6px 34px;
        padding: 0px 0px 0px 0px;
        font-size: 10px;
    }
    .famous-title img{
        object-fit: contain;
        width: 17px;
        height: 17px;
    }
    .container-famous{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background: white;
        border-radius: 15px;
        padding: 3px;
        width: max-content;
        width: 220px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .famous-text{
        font-size: 10px;
    }
    .famous-img img{
        object-fit: cover;
        width: 70px;
        height: 90px;
        border-radius: 15px 0 0 15px;
    }
}
/* Format tablette */
@media screen  and (min-width: 768px) and (max-width: 991px) {
    .container-box{
        display: flex;
        justify-content:initial;
        margin: 0px 0px 0px 50px;
    }
    .title-accomodation{
        margin: 0px 65px 20px 33px;
        padding: 25px 0px 0px 0px;

    }
    .box-accommodation{
        display: flex;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 100%;
        font-size: 12px;
    }
    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        
    }
    .accomodation-1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 40px 0px 40px;
    }
    .accomodation-container{
        width: 165px;
        height: 170px;
    }
    .accomodation-text{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 8px 0px 0px 9px;
        padding: 0px 0px 0px 0px;
    }
    .accomodation-text ol{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;

    }
    .box-famous {
        background: var(--bg-color--);
        border-radius: 15px;
        box-sizing: content-box;
        margin: 40px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 100%;
    }
    .famous{
        display: flex;
        flex-direction: row;
        gap: 18px;  
        margin: 0px 0px 0px 0px;
        padding: 7px 30px 38px 30px;
    }  
    .famous-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 43px 19px 44px;
        padding: 25px 0px 0px 0px;
        font-size: 12px;
    }
    .container-famous{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background: white;
        border-radius: 15px;
        padding: 3px;
        width: 187px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .famous-text{
        font-size: 10px;  
    }
    .famous-img img{
        object-fit: cover;
        width: 70px;
        height: 90px;
        border-radius: 15px 0 0 15px;
    }
    .famous-text{
        font-size: 10px;
        margin: 0px 0px 0px 9px;

    }
    .famous-text h4{
        margin: 0px 0px 7px 0px;

    }
}
/* Screen between 611 767px */
@media screen  and (min-width: 611px) and (max-width: 767px) {
    .container-box{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 90px 0px;
        padding: 0px 0px 0px 0px;
        gap: 0;
    }
    .title-accomodation{
        padding: 4px 0px 22px 0px;
    }
    .box-accommodation{
        align-items: center;
        border-radius: 0px;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        background: none;
        width: 100%;
    }
    .box{
        display: flex;
        flex-direction: column;
        margin: 0px 0px 0px 0px;
    }
    .accomodation-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .accomodation-container{
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        height: 100%;
        margin: 0px;
        padding: 3px;
        background: white ;
    }
    .accomodation-container img{
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
    }
    .box-famous{
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: 0px;
    }
    .famous-title{
        margin: 75px 15px 25px 15px;
        padding: 0px 0px 0px 0px;
        gap: 252px;

    }
    .container-famous{
        padding: 3px;
        min-width: 500px;
    }
    .container-famous img{
        border-radius: 15px 0px 0px 15px;
        height: 150px;
    }
}
/* Screen < 612px */
@media screen  and (max-width: 611px) {
    .container-box{
        display: flex;
        flex-direction: column-reverse ;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 90px 0px;
        padding: 0px 0px 0px 0px;
        gap: 0;
    }
    /* Step Famous */
    .box-famous{
        display: flex;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        background: var(--bg-color--);
        box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;
        width: 100%;
        border-radius: 0px;
    }
    .famous{
        align-items: center;
        padding: 0 0 47px;
        gap: 11px;
    }
    .famous-title{
        margin: 0px 0px 25px 0px;
        padding: 22px 0px 0px 0px;
        gap: 103px;
        font-size: 16px;
    }
    .container-famous{
        background: white;
        display: flex;
        padding: 3px;
        width: 330px;
    }
    .container-famous img{
        border-radius: 15px 0px 0px 15px;
    }
    /* Dimention et Ajustement Star */
    .famous-text .container-star{
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    .star{
        width: 19px;
        height: 15px;
    }
    .star-transparent{
        width: 19px;
        height: 15px;
    }
    /* Dimention et Ajustement Image  */
    .famous-img img{
        width: 127px;
        height: 109px;
    }
    /*  Dimention et Ajustement text-famous */
    .container-famous .famous-text{
        display: flex;
        font-size: 14px;
        padding: 0px 0px 0px 0px;
        margin: 5px 0px 0px 11px;
    }
    .famous-text h4{
        padding: 0px 0px 10px 0px;
        margin: 0px 0px 0px 0px;
    }
    .famous-text p{
        padding: 0px 0px 23px 0px;
        margin: 0px 0px 0px 0px;
    }
    /* Step Accomodation */
    .title-accomodation{
        padding: 4px 0px 22px 0px;
    }
    .box-accommodation{
        border-radius: 0px;
        padding: 0px 0px 0px 0px;
        margin: 30px 0px 50px 0px;
        background: none;
        width: 100%;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0px 0px 0px;
        gap: 15px;
    }
    .accomodation-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        gap: 15px;
    }
    .accomodation-container{
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        width: 330px;
        background: white ;
    }
    .accomodation-container img{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .accomodation-text{
        display: grid;
        margin: 0px 0px 0px 10px;
        padding: 0px 0px 0px 0px;
        gap: 5px;
    }
    h3{
        display: none;
    }
}
@media screen  and (min-width: 320px) and (max-width: 375px){
    .accomodation-container {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        width: 250px;
        background: white;
    }
    .accomodation-1{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        gap: 15px;
    }
    .box-famous{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .famous{
        width: 100%;
    }
    .container-famous{
        display: flex;
        width: 278px;
    }
    .famous-title{
    /* width: 100%; */
    gap: 33px;
    font-size: 16px;
    }
}