nav{
    margin: 0;    
    }
    .search-bar{
        display: flex;
        flex-direction: row;
        margin: 15px 0px 0px 0px;

    }
    .search-destination input{
        height: 51px;
        border :  1px solid var(--bg-color--);
        font-weight: bold;
        font-size: 20px;
        padding: 0px 0 0px 15px;
        color: black;
    }
    ::placeholder{
        color: black;
    }
    .search-bar button{
        border: none;
        background: var(--text-color);
        color: white;
        border-radius: 0 15px 15px 0;
        width: 132px;
        height: 53px;
    }    
    .bar-logo img{
        padding-left: 20px;
        visibility: hidden;
        width: 20px;
    }
    .bar-logo p{ 
        position: absolute;
        font-weight: bold;
        font-size: 20px;
        margin: 0px 0px 0px 10px;

    }
    .search-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid var(--bg-color--);
        object-fit: cover;
        width: 50px;
        border-radius: 15px 0 0 15px;
        background: var(--bg-color--);
    } 
    
    @media screen and (min-width: 320px) and (max-width: 767px){
        .search-bar {
            margin: 22px 20px 0px 20px;
        }
        .bar-logo img {
            visibility: visible;  
        }
        .bar-logo   { 
            visibility: hidden;
        }
        .search-logo{
            width: 40px;
            height: 42px;
        }
        .search-destination{
            display: flex;
        }
        .search-destination input{
            width: 155px;
            height: 45px;
            font-size: 17px;
        }
        .search-bar button {
            border-bottom: 1px solid;
            height: 47px;
            width: 48px;
        }
        .bar-logo img {
            padding: 5px 8px 0px 10px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 991px){
        .search-bar{
            margin: 18px 0px 0px 0px;
            font-size: 12px;
        }
        .search-bar button{
            padding: 0px 0px 0px 19px;
        }
        .bar-logo p{
            font-size: 16px;
            margin: 0px;
        }
        .search-destination input{
            width: 169px;
            font-size: 16px;
        }
        
    }

