nav{
    margin: 0;    
    }
    .search-bar{
        display: flex;
        flex-direction: row;
        margin: 15px 0px 0px 0px;
    }
    .search-destination input{
        height: 51px;
        border :  1px solid var(--bg-color--);
        font-weight: bold;
        font-size: 20px;
        padding: 0px 0 0px 15px;
        color: black;
    }
    ::placeholder{
        color: black;
    }   
    .bar-logo button{
        visibility: visible;
        padding: 13px;
        width: 100%;
        height: 100%;
        max-width: max-content;
        background-color: var(--text-color);
        border: none;
        border-radius: 0px 15px 15px 0;
    }
    .bar-logo-recherche{
        position: absolute;
        margin: 0px 0px 0px 300px;
    }
    .bar-logo-recherche button{ 
        visibility: visible;
        font-weight: bold;
        color: white;
        font-size: 15px;
        padding: 10px;
        height: 46.5px;
        max-width: max-content;
        background-color: var(--text-color);
        border: none;
        border-radius: 0px 15px 15px 0;
        height: 53px;
    }
    .search-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid var(--bg-color--);
        object-fit: cover;
        width: 50px;
        border-radius: 15px 0 0 15px;
        background: var(--bg-color--);
    } 
    @media screen and (min-width: 320px) and (max-width: 767px){
        .search-bar {
            margin: 22px 20px 0px 20px;
        }
        .bar-logo img {
            visibility: visible;  
        }
        .bar-logo-recherche button { 
            visibility: hidden;
        }
        .search-logo{
            width: 40px;
            height: 42px;
        }
        .search-destination{
            display: flex;
        }
        .search-destination input{
            width: 155px;
            height: 45px;
            font-size: 17px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 991px){
        .search-bar{
            margin: 18px 0px 0px 0px;
            font-size: 12px;
        }
        .bar-logo-recherche{
            margin: 0px 0px 0px 240px;
            font-size: 16px;
        }
        .bar-logo-recherche button{
            height: 53px;
        }
        .search-destination input{
            width: 169px;
            font-size: 16px;
        }
        
    }

