.activity{
    display: grid;
    justify-content: center;
    grid-template-columns: 0 1380px;
    grid-template-rows: 30px 500px;
}
.text-activity {
    display: flex;
    justify-content: flex-start;
    grid-column: 2/2;
}
.box-activity{
    display: flex;
    flex-direction: row;
    gap: 43px;
    grid-column: 2/3;
}

.container-activity{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px 
}
.container-activity p{
    margin: 10px 25px;
}
.image-activity img{
    display: flex;
    object-fit: cover;
    width: 302px;
    height: 445px;
    border-radius: 20px 20px 0 0;
}

@media screen and (max-width: 1400px) {
    .activity{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }
    .box-activity{
        justify-content: center;
    }
    .image-activity img{
        width: 334px;
        height: 190px;
    }
}

